.header {
  margin: 0.4rem;

  align-items: center;
  justify-content: space-between !important ;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-icons {
  font-size: x-large;
  padding: 0rem;
  align-items: center;
}

.sa {
  letter-spacing: 0.5rem;
  margin-left: -40rem;
}


.img-carousel2 {
  border-radius: 10rem;
  border: 2px solid gray;
  overflow-y: scroll;
  width: 100%;
  height: 25vh;
}
.new {
  font-size: 4rem;
  padding: 4rem;
  float: left;
  width: 20%;
}
.carousel2 {
  /* display: inline-block; */
  /* align-items: center; */
  /* justify-content: space-between ; */
  margin-top: 1rem;
}
.carousel2 p {
  font-size: rem;
  text-align: center;
}
.caro {
  float: right;
  display: inline-flex;
}

.caro div {
  display: inline-block;
  align-items: center;
  margin: 0.2rem;
}

.caro3 div {
  display: inline-block;
  align-items: center;
  margin: rem;
}
.caro3 p {
  text-align: center;
}
.img-bycategory {
  width: 18rem;
  height: 18rem;
  margin: 0.5rem;
}
.more div {
  display: inline-block;
  align-items: center;
  margin: 0.5rem;
}
#search-box {
  position: relative;
  width: 100%;
  height: 10rem;
}

.centered-form{
  position: relative;
  display: block;
  margin: auto;
  width: 20rem;
  height: 2.8rem;
}

#box {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: .5rem;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 45px;
}

#mag-container {
  position: absolute;
  top: 1rem;
  left: 1.3rem;
  background: transparent;
  border: 0;
  padding: 0;
  outline: 0;
  z-index: 1;
  cursor: pointer;
}

#mag {
  opacity: 50%;
  width: 1rem;
}
#hover-img:hover{
transform: scale(1.1);
transition:1s ;
}