.header{
  display:flex;
 align-items: center;
 justify-content: space-between;
}

.header-logo{
  display:flex;
  align-items: center;
}
.header-icons{
font-size: x-large;
padding: .5rem;
}
.sa{
  word-spacing: .2rem;
}